<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	src/main/resources/sql/memberMapper.xml 
	수행할 쿼리 작업을 등록 하는 파일
-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<!-- 검색 select , 삽입 insert, 수정 update, 삭제 delete -->
	<insert id="insertMember" 
	statementType="PREPARED"
	parameterType="member">
		INSERT INTO tbl_member
		VALUES(null,#{userid},#{userpw},#{username},now(),now())			
	</insert> <!-- int 반환(executeUpdate()) resultType 몬씀 -->
	
	<!-- java.lang.String -->
	<select id="read" parameterType="String" resultType="member">
		SELECT * FROM tbl_member WHERE userid = #{userid}
	</select>
	
	<!-- java.util.Map -->
	<select id="readWithPass" parameterType="Map" resultType="member">
		SELECT * FROM tbl_member WHERE userid = #{id} AND userpw = #{pw}
	</select>
	
	<!-- selectList의 경우 List의 제네릭 타입을 resultType에 지정 -->	
	<select id="memberList" resultType="member">
		SELECT * FROM tbl_member
	</select>

	<select id="max" resultType="int">
		SELECT max(uno) FROM tbl_member;
	</select>
</mapper>
